

body {
  position: relative; 
  background-image: url('./img/bg.jpg');width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.85;
}
.body::before{
    content: "";   
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.75;
}
.main-container {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  
  color: #fff;
}
.title-container {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.title-container h3 {
  font-size: 35px;
  padding: 10px 0 0 0;
  color: #fff;
}

.title-container p {
  font-size: 18px;
  font-style: italic;
  font-weight: 30;

}
.form-container{
  padding: 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-color: #1f2235;
  height: 100%;
  width: 100vh;
  opacity: 0.95;
  color: #fff;
  font-weight: 600;
}


